.eventimg {
  width:128px;
  height:128px;
  border-radius:10px;
  filter:drop-shadow(10px 5px 12px lightyellow);
  
}

.eventimg:hover{
  transform:scale(1.1);
  filter:filter:drop-shadow(10px 5px 5px blue);
}

body {
  text-align:center;
}

/*.container{
  position:relative;
  width:100%;
  overflow: hidden;
}
*/

.container{
  margin:10px;
  padding:5px;
  position:relative;
  display:flex;
  flex-direction:column;
}

.ticketcontainer{
  margin:10px;
  padding:5px;
  position:relative;
  display:flex;
  flex-direction:column;
}



.centered {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:white;
  color:black;
  opacity:.8;
}

.centered:hover{
  opacity:1;
}

h2 {
font-family:"courier-new",monospace;  
  font-weight:normal;
}

/*.ticketscontainer{
display:flex;
flex-wrap:wrap;
width:100%;
  background:white;
}
*/


.ticketscontainer{
width:100%;
height:100%;
overflow:scroll;
scrollbar-width:none;
white-space: nowrap;
  background:white;
  display:flex;
  flex-direction:column;
  
}


.marquee {
 
            text-align: center;
  margin:0 auto;
           
            transform: translateY(100%);
            /* Animate to the left */
            animation: scroll-left 25s linear infinite;
        }

        @keyframes scroll-left {
            0% {
                transform: translateY(0%);
            }

            100% {
                transform: translateY(-800%);
            }
        }
