body {
  font-family: "Bricolage Grotesque", sans-serif;
  /*background-color: #e1fd74;*/
background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity:.8;
}

.login-container {
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 30px;
  margin:5px;
  text-align: center;
}

.login-container img {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  display: block;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #fff;
}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #e1fd74;
  font-family: "Bricolage Grotesque", sans-serif;
  transition: border-bottom-color 0.3s ease-in-out;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom-color: #fff; /* Set it to the same color as the initial state */
}

button {
  background-color: #e1fd74;
  color: #24261a;
  padding: 12px 120px; /* Increased padding to make the button wider */
  border: none;
  border-radius: 54px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: transparent;
  border: 1px solid #e1fd74;
  color: #fff;
}

.extra-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.contact-buttons {
  display: none; /* Remove contact buttons */
}

.credit {
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
}

.photo {
  border-radius:50%;
}

.logo {
  border-radius:50%;
  border-style:dashed;
  border-color:var(--main-color);
  border-width:1px;
}

